/*  your css code here. If applicable */
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }
        marquee {
            color: white;
            padding: 10px;
            font-size: 18px;
        }
        h1 {
            color: #333;
        }

        h2 {
            color: #333;
        }
        p {
			color:blue;
            text-align: justify;
            line-height: 1.6;
			text-decoration: underline
        }
        a {
			color:blue;
            display: block;
            margin-top: 10px;
            text-decoration: none;
            font-weight: bold;
			text-decoration: underline
        }